<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FreeDbFullPath" value="D:\freedb-complete-20150601.tar.bz2"/>
    <add key="AlbumsApiUri" value="http://localhost:1666/api/albums"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
